$lightGreen: #b9e7e7;

//.app {
// background-color: red;

//}

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $lightGreen;

  h1 {
    front-size: 20px;
    color: teal;
    margin-bottom: 20px;

  }

  form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    width: 200px;
    gap: 20px;

    input {
      padding: 10px;
      border: none;
      border-bottom: 1px solid gray;
    }

    button {
      padding: 10px;
      border: none;
      background-color: teal;
      cursor: pointer;
      color: white;

    }

    p {
      front-size: 12px;
      color: red;
      text-align: center;
    }

    span {
      front-size: 12px;
      text-align: center;

    }
  }

}

.navbar {
  .containner {
    padding: 10px 0px;
    display: flex;

    .logo {}

    .links {}
  }
}